<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="RegressionSuite">
        <classes>
            <class name="com.example.qung.TestCase.LoginTest"/>
            <class name="com.example.qung.TestCase.BaseUnitsTest"/>
            <class name="com.example.qung.TestCase.RecordTest"/>
        </classes>
    </test>
</suite>